{% extends 'base.html' %}
{% block content %}
<main id="search_seals_container" >

  <form id="form_jutsu_seals_search" method="get" >
    <input type="hidden" name="search_query" >
    <div onclick="remove_clones();" href="#">Limpar Busca</div>
    <a href="{{ url_for('index') }}">Página Inicial</a>
    <button type="submit">Pesquisar Jutsu</button>
  </form>

    <div class="images">

      <div class="jutsu_images">

        {% for image, alt in main_images %}
          <img src="{{ image }}" alt="{{ alt }}">
        {% endfor %}
      </div>

      <div class="jutsu_images_sequence">
        {% for image, alt in searched_images %}
          <img src="{{ image }}" alt="{{ alt }}">
        {% endfor %}
      </div>
      
    </div>

  <div class="list_jutsus">
    {% for x in jutsus.index %}
    <div >
      <span class="jutsu_name">
        {{ jutsus.loc[x, 'title'] }}
      </span>
      <span class="jutsu_seal_sequence">
        {{ jutsus.loc[x, 'seal_sequence'] }}
      </span>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
