@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

:root {
  --font-serif: "Crimson Text", serif;
  --font-sanserif: "Raleway", sans-serif;

  --font-cursive: "Henny Penny", cursive;
  --font-monospace: "Source Code Pro", monospace;

  --clr-red: #73323e;

  --clr-bg0: #0d0d0d;
  --clr-bg1: #262314;
  --clr-bg2: #59493b;
  --clr-bg3: #8c8270;
}

/* Animation for Typed text */
@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.typed-text {
  display: none;
}

.typed-text::after {
  content: "|";
  display: "inline";
  animation: blink 0.7s linear infinite;
}

.final-typed-text::after {
  content: "";
  animation: none;
}

/* Main styles */

* {
  margin: 0px;
  padding: 0px;
  outline: transparent;
}

body {
  font-family: var(--font-sanserif);
  background-image: url('images/back_ground.jpg');
  background-color: black;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  height: 100vh;
}

body * {
  color: white;
}

/* Main page */
main#home_container {
  height: 200px;
  padding: 10px;
  opacity: 0.9;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--clr-bg1);

  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px black;
}

main#home_container > a {
  text-decoration: none ;
  font-weight: 400;
  font-size: 1.5rem;

  color: white;
  transition: all 0.3s ease;
}

main#home_container > a:hover {
  opacity: 1;
  color: #888;
  transform: scale(1.3);
}
